<div class="email-component">
  <div class="email-form">
    <h1 class="form-header">Password Reset</h1>
    <form [formGroup]="emailForm" (ngSubmit)="onSendCode()">

      <mat-form-field appearance="outline" hintLabel="Your email, 5 ~ 100 characters length." class="mat-form-field">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" maxlength="100" #email_input>
        <mat-hint align="end">{{email_input.value.length}}/100</mat-hint>
        <mat-error>{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="!emailForm.valid||isSendingCode">Send Code</button>
    </form>
    <mat-progress-bar mode="indeterminate" class="progress-bar" *ngIf="isSendingCode"></mat-progress-bar>
  </div>
</div>
