<div class="new-password-component">
  <div class="new-password-form">
    <h1 class="form-header">Reset Password</h1>
    <form [formGroup]="newPasswordForm" (ngSubmit)="onResetPassword()">

      <mat-form-field appearance="outline" hintLabel="Choose a strong password to keep hackers away, 8 ~ 28 characters." class="mat-form-field">
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" maxlength="28" #password_input>
        <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="end">{{password_input.value.length}}/28</mat-hint>
        <mat-error>{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" hintLabel="Let us be more sure you are not a robot." class="mat-form-field">
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="hidePasswordConfirm ? 'password' : 'text'" formControlName="passwordConfirm" maxlength="28" #password_confirm_input>
        <button mat-icon-button matSuffix type="button" (click)="hidePasswordConfirm = !hidePasswordConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePasswordConfirm">
          <mat-icon>{{hidePasswordConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="end">{{password_confirm_input.value.length}}/28</mat-hint>
        <mat-error>{{getPasswordConfirmErrorMessage()}}</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="!newPasswordForm.valid||isResetingPassword">Reset</button>
    </form>
    <mat-progress-bar mode="indeterminate" class="progress-bar" *ngIf="isResetingPassword"></mat-progress-bar>
  </div>
</div>
